In [1]:
import pymongo
import datetime
import pandas as pd

In [2]:
gold_data = "resources/GOLD.csv"

In [3]:
gold_df = pd.read_csv(gold_data)

In [4]:
gold_df.head()

         Date    Open    High     Low   Close  Adj Close    Volume
0  1996-01-01  26.625  30.125  26.625  29.375  20.754421  41074000
1  1996-02-01  29.875  32.875  29.875  30.250  21.372637  46490100
2  1996-03-01  30.250  32.000  28.250  30.375  21.460953  36573500
3  1996-04-01  30.250  32.125  29.375  30.625  21.637589  34821300
4  1996-05-01  30.625  32.125  29.750  31.500  22.255806  27064600

In [5]:
gold_df['index'] = gold_df.apply(lambda row:"Gold",axis =1)

In [6]:
gold_df.head()

         Date    Open    High     Low   Close  Adj Close    Volume index
0  1996-01-01  26.625  30.125  26.625  29.375  20.754421  41074000  Gold
1  1996-02-01  29.875  32.875  29.875  30.250  21.372637  46490100  Gold
2  1996-03-01  30.250  32.000  28.250  30.375  21.460953  36573500  Gold
3  1996-04-01  30.250  32.125  29.375  30.625  21.637589  34821300  Gold
4  1996-05-01  30.625  32.125  29.750  31.500  22.255806  27064600  Gold

In [7]:
from pymongo import MongoClient
client = MongoClient()

In [8]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [9]:
db1 = client.gold

In [10]:
collection_gold = db1.gold_data

In [11]:
gold_dict = gold_df.to_dict('records')
gold_dict[:2]

[{'Date': '1996-01-01',
  'Open': 26.625,
  'High': 30.125,
  'Low': 26.625,
  'Close': 29.375,
  'Adj Close': 20.754421,
  'Volume': 41074000,
  'index': 'Gold'},
 {'Date': '1996-02-01',
  'Open': 29.875,
  'High': 32.875,
  'Low': 29.875,
  'Close': 30.25,
  'Adj Close': 21.372637,
  'Volume': 46490100,
  'index': 'Gold'}]

In [12]:
collection_gold.insert_many(gold_dict)

In [15]:
gspc_data = "resources/GSPC.csv"

In [16]:
gspc_df = pd.read_csv(gspc_data)

In [18]:
gspc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1996-01-01,615.929993,636.179993,597.289978,636.020020,636.020020,9188050000
1,1996-02-01,636.020020,664.229980,633.710022,640.429993,640.429993,8749960000
2,1996-03-01,640.429993,656.969971,627.630005,645.500000,645.500000,8984200000
3,1996-04-01,645.500000,656.679993,624.140015,654.169983,654.169983,8875580000
4,1996-05-01,654.169983,681.099976,630.070007,669.119995,669.119995,8921140000

In [19]:
gspc_df['index'] = gspc_df.apply(lambda row:"GSPC",axis =1)

In [20]:
gspc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,index
0,1996-01-01,615.929993,636.179993,597.289978,636.020020,636.020020,9188050000,GSPC
1,1996-02-01,636.020020,664.229980,633.710022,640.429993,640.429993,8749960000,GSPC
2,1996-03-01,640.429993,656.969971,627.630005,645.500000,645.500000,8984200000,GSPC
3,1996-04-01,645.500000,656.679993,624.140015,654.169983,654.169983,8875580000,GSPC
4,1996-05-01,654.169983,681.099976,630.070007,669.119995,669.119995,8921140000,GSPC

In [21]:
db2 = client.GSPC

In [22]:
collection_gspc = db2.gspc_data

In [23]:
gspc_dict = gspc_df.to_dict('records')
gspc_dict[:2]

[{'Date': '1996-01-01',
  'Open': 615.929993,
  'High': 636.179993,
  'Low': 597.289978,
  'Close': 636.02002,
  'Adj Close': 636.02002,
  'Volume': 9188050000,
  'index': 'GSPC'},
 {'Date': '1996-02-01',
  'Open': 636.02002,
  'High': 664.22998,
  'Low': 633.710022,
  'Close': 640.429993,
  'Adj Close': 640.429993,
  'Volume': 8749960000,
  'index': 'GSPC'}]

In [24]:
collection_gspc.insert_many(gspc_dict)

In [25]:
ixic_data = "resources/IXIC.csv"

In [26]:
ixic_df = pd.read_csv(ixic_data)

In [27]:
ixic_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1996-01-01,1052.829956,1059.810059,977.789978,1059.790039,1059.790039,11326210000
1,1996-02-01,1058.260010,1121.890015,1057.819946,1100.050049,1100.050049,10690430000
2,1996-03-01,1098.939941,1119.839966,1057.869995,1101.400024,1101.400024,10648850000
3,1996-04-01,1105.770020,1190.869995,1092.439941,1190.520020,1190.520020,11951730000
4,1996-05-01,1190.479980,1252.810059,1163.209961,1243.430054,1243.430054,14550600000

In [28]:
ixic_df['index'] = ixic_df.apply(lambda row:"IXIC",axis =1)

In [29]:
ixic_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,index
0,1996-01-01,1052.829956,1059.810059,977.789978,1059.790039,1059.790039,11326210000,IXIC
1,1996-02-01,1058.260010,1121.890015,1057.819946,1100.050049,1100.050049,10690430000,IXIC
2,1996-03-01,1098.939941,1119.839966,1057.869995,1101.400024,1101.400024,10648850000,IXIC
3,1996-04-01,1105.770020,1190.869995,1092.439941,1190.520020,1190.520020,11951730000,IXIC
4,1996-05-01,1190.479980,1252.810059,1163.209961,1243.430054,1243.430054,14550600000,IXIC

In [30]:
db3 = client.IXIC

In [31]:
collection_ixic = db3.ixic_data

In [32]:
ixic_dict = ixic_df.to_dict('records')
ixic_dict[:2]

[{'Date': '1996-01-01',
  'Open': 1052.829956,
  'High': 1059.810059,
  'Low': 977.7899779999999,
  'Close': 1059.790039,
  'Adj Close': 1059.790039,
  'Volume': 11326210000,
  'index': 'IXIC'},
 {'Date': '1996-02-01',
  'Open': 1058.26001,
  'High': 1121.890015,
  'Low': 1057.819946,
  'Close': 1100.050049,
  'Adj Close': 1100.050049,
  'Volume': 10690430000,
  'index': 'IXIC'}]

In [33]:
collection_ixic.insert_many(ixic_dict)