In [1]:
# Dependencies
import pymongo
import datetime
import pandas as pd

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Declare the database
db = client.test

In [5]:


collection = db.macrodata

In [6]:
# Query all test
# Here, db.macrodata refers to the collection 'db '
db = db.macrodata.find()

In [7]:
# Iterate through each db in the collection
for db in db:
    print(db)

In [8]:




data = pd.DataFrame(list(collection.find()))

In [9]:
data.head()

Empty DataFrame
Columns: []
Index: []

#

In [10]:
# Declare the database
db = client.Gold

In [11]:
collection = db.Golddata

In [12]:
data_gold = pd.DataFrame(list(collection.find()))
data_gold.head()

Empty DataFrame
Columns: []
Index: []

In [13]:
data_gold['index'] = data_gold.apply(lambda row:"Gold",axis =1)

In [14]:
data_gold.head()

Empty DataFrame
Columns: [index]
Index: []

#

In [15]:
# Declare the database
db = client.Recession

In [16]:
collection = db.recdata

In [17]:
data_rec = pd.DataFrame(list(collection.find()))
data_rec.head()

Empty DataFrame
Columns: []
Index: []

In [18]:
# Declare the database
db = client.ixic

In [19]:
collection = db.ixicdata

In [20]:
data_ixic = pd.DataFrame(list(collection.find()))
data_ixic.head()

Empty DataFrame
Columns: []
Index: []

In [21]:
data_ixic['index'] = data_ixic.apply(lambda row:"ixic",axis =1)

In [22]:
data_ixic.head()

Empty DataFrame
Columns: [index]
Index: []

In [23]:
# Declare the database
db = client.gspc

In [24]:
collection = db.gspcdata

In [25]:
data_gspc = pd.DataFrame(list(collection.find()))
data_gspc.head()

Empty DataFrame
Columns: []
Index: []

In [26]:
data_gspc['index'] = data_gspc.apply(lambda row:"gspc",axis =1)

In [27]:
data_gspc.head()

Empty DataFrame
Columns: [index]
Index: []